accelerate==0.26.0
beautifulsoup4==4.12.2
bert_score==0.3.13
bitsandbytes==0.41.3
git+https://github.com/openai/CLIP.git
datasets==2.16.1
evaluate==0.4.1
google-cloud-vision==3.4.5
haversine==2.8.0
ImageHash==4.3.1
Levenshtein==0.23.0
multilingual-clip==1.0.10
nltk==3.9.0
numpy==1.26.4
openai==1.3.4
pandas==2.1.1
pillow==10.3.0
rouge-score==0.1.2
scikit-learn==1.5.0
scipy==1.11.4
spacy==3.7.2
torch==2.5.2
tqdm==4.66.3
trafilatura==1.6.3
transformers==4.48.0
