# This requirements are for development and testing only, not for production.
# You shouldn't need to edit this file, unless you know what you are doing.
pytest
coverage
pylint
black
isort
pytest-cov
mypy
gitchangelog
mkdocs
mkdocs-material
mkdocstrings
mkdocstrings-python
