# This is a basic workflow to help you get started with Actions
name: Run tests

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with: 
          python-version: 3.9
          
      - name: Install dependencies
        run: |
          pip install .
          pip install -r requirements-dev.txt
      
      # Hacky way to get package name from setup.py
      - name: Get package name
        id: get_package_name
        run: |
          setup_file="setup.py"
          pattern="name="
          project_name=$(grep -oP "(?<=${pattern}\")[^\"]+" $setup_file)
          echo "::set-output name=package_name::$project_name"
  
      - name: Run tests
        run: |
          pytest -v --cov-fail-under=60 --cov=${{ steps.get_package_name.outputs.package_name }} -l --tb=short --maxfail=1 tests/
          coverage xml
          coverage html